appdirs==1.4.3
certifi==2018.1.18
chardet==3.0.4
future==0.16.0
idna==2.6
louis==3.4.0
packaging==16.8
Pillow==8.2.0
pycurl==7.43.0.1
pyparsing==2.2.0
python-libtorrent==1.1.6
python-telegram-bot==9.0.0
requests==2.18.4
six==1.11.0
team==1.0
urllib3==1.22
virtualenv==15.1.0
